<%- include('../partials/header'); -%>
<div class="container">
	<div class="row">
		<div class="col-md-4 m-auto">
			<div class="bubble-r-box" style="height: 77px; left: 38px; width: 284px;float:left;">
				<div class="bubble-element Text clickable-element" tabindex="7" style="width: 284px;box-sizing: border-box;z-index: 9;height: 77px;overflow: visible;padding-bottom: 2px;font-family: Quicksand;font-size: 12px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;padding-top: 2px;border-radius: 0px;cursor: pointer;">
					<div class="content">
						<font size="2">Get the most out of advertising with EOD</font>
						<em><u>Click Here</u></em>&nbsp;to learn what makes us unique.<br><br><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 m-auto">
			<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: auto;margin: 0 auto;width:100%;overflow: visible;padding-bottom: 4px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 36px;color: rgb(255, 255, 255);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 4px;border-radius: 0px;float: right;">
				<div class="content">Welcome </br>"<%= currentUser.name %>"</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 m-auto">
			<div class="profile-img" style="text-align: center;">
				<img src="../uploads/ripon/profile_pic.png" alt="<%= currentUser.name %>" title="<%=currentUser.name %>" class="img-fluid" style="border-radius: 50%;max-width: 50%">
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-4 m-auto">
			<div class="bubble-r-line" style="margin-top: 5px; height: 76px;">
				<div class="bubble-r-box" style="height: 76px;width: 100%;text-align: center;">
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none; position: absolute; box-sizing: border-box; z-index: 10; top: 0px; height: 34px; overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 10px; color: rgb(227, 227, 229); text-align: center; word-spacing: 1px; line-height: 1.5; padding-top: 2px; border-radius: 0px; width: 370.234px; left: 0px;">
						<div class="content">Your profile is only visible to the User if Bronze, Platinum or Elite have been activated. </div>
					</div>
					
					
					
					<button class="bubble-element Button clickable-element" style="box-sizing: border-box;z-index: 3;height: 54px;width: 268px;padding: 0px;margin: 0 auto;cursor: pointer;background: none rgb(0, 0, 0);border-top: none;border-right: none;border-bottom: 2px solid rgb(176, 9, 9);border-left: none;border-image: initial;text-align: center;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 20px;font-weight: bold;color: rgb(229, 228, 226);letter-spacing: 1px;line-height: 1;border-radius: 3px;box-shadow: rgba(209, 25, 25, 0.15) 0px 2px 4px 0px;transition: box-shadow 100ms ease 0s;" tabindex="6"><a href="/edit-profile/<%= currentUser._id %>" style="color:white;text-decoration: none;">Edit Profile</a></button>
					
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 18px;height: 104px;display: flex;text-align: center;">
				<div class="bubble-r-box" style="height: 104px;left: 7px;width: 33%;float: left;">
					<button class="bubble-element Button clickable-element" style="box-sizing: border-box;z-index: 4;height: 104px;width: 104px;padding: 0px;cursor: pointer;background: none;border: 2px solid rgb(6, 186, 0);text-align: center;user-select: none;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 22px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1;border-radius: 100px;transition: box-shadow 100ms ease 0s;" tabindex="2">Platinum</button>
					<div class="bubble-element Shape" style="display: none;">
					</div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
				</div>
				<div class="bubble-r-box" style="height: 104px;left: 129px;width: 33%;float: right;margin-top: 4%;">
					<div class="bubble-element Shape" style="display: none;"></div>
					<button class="bubble-element Button clickable-element" style="box-sizing: border-box;z-index: 2;height: 89px;width: 91px;padding: 0px;cursor: pointer;background: none;border: 2px solid rgb(176, 103, 0);text-align: center;user-select: none;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 21px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1;border-radius: 100px;transition: box-shadow 100ms ease 0s;" tabindex="3">Bronze</button>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
				</div>
				<div class="bubble-r-box" style="height: 92px;left: 241px;float: right;width: 33%;margin-top: 10%;">
					<button class="bubble-element Button clickable-element" style="box-sizing: border-box;z-index: 3;height: 65px;width: 66px;padding: 0px;cursor: pointer;background: none;border: 2px solid rgb(204, 18, 18);text-align: center;user-select: none;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 14px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1;border-radius: 100px;box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px 0px;transition: box-shadow 100ms ease 0s;" tabindex="4">Log out</button>
				</div>
			</div>
			<div class="bubble-r-box" style="height: 62px;width: 305px;margin: 10px auto 0 auto;">
				<div class="bubble-element Image" style="display: none;"></div>
				<div class="bubble-element Text clickable-element" tabindex="5" style="box-sizing: border-box;z-index: 5;height: 56px;width: 305px;overflow: visible;padding-bottom: 11px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 22px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;word-spacing: 5px;line-height: 1.5;padding-top: 11px;border-radius: 0px;border-bottom: 1px solid rgb(197, 179, 88);cursor: pointer;">
					<div class="content"><a href="/elite-escorts-only" style="color: white;text-decoration: none;">ELITE ESCORTS</a></div>
				</div>
				<div class="bubble-element Shape" style="display: none;">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 m-auto">
			<div class="bubble-element Image" style="width: 100%;box-sizing: border-box;margin-top: 25px;z-index: 7;border-radius: 0px;">
				<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1588584710315x977229583038374900%2Foie_uFGzIZualII0.jpg?w=768&amp;h=107&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0 auto; width: 80%; height: 100%; border-radius: 0px;">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 m-auto">
			<div class="bubble-r-box" style="height: 23px;left: 385.231px;margin: 0 auto;width: 568px;">
				<div class="bubble-element Text" style="width: 568px;box-sizing: border-box;z-index: 8;height: 23px;overflow: visible;padding-bottom: 2px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;padding-top: 2px;border-radius: 0px;">
					<div class="content">Be sure to add Escorts On Demand to your home screen to make advertising with EOD a breeze.</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
});
});
$(document).ready(function(){
$(".close-widget-bar").click(function(){
$(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");


});
});
$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
</script>
</body>
</html>